<div class="row answers" id="answer_{{id}}">
	<div class="container rating" id="answer-{{id}}">
		<div class="answer">
			<div class="row">
				<b class="col-sm-1" id="rating-value-{{id}}">Rating: {{rating}} </b>
          {{#unless isAuthor}}
            <a data-type="json" class="vote-link col-sm-1" id="vote_up_{{id}}" style="display: block;" data-remote="true" rel="nofollow" data-method="patch" href="/answers/{{id}}/vote_up">
							<i class="glyphicon glyphicon-plus"> Up</i></a>
						<a data-type="json" class="vote-link col-sm-1" id="vote_down_{{id}}" style="display: block;" data-remote="true" rel="nofollow" data-method="patch" href="/answers/{{id}}/vote_down">
							<i class="glyphicon glyphicon-minus"> Down</i></a>

            <i class="vote-cancel" id="vote_cancel_{{id}}" style="display:none">Voted
              <a data-type="json" data-remote="true" rel="nofollow" data-method="delete" href="/answers/{{id}}/vote_cancel">(Cancel)</a>
						</i>
          {{/unless}}
				</div>
		</div>
	</div>
		<!--добавить условие, если автор ответа не автор вопроса то не видит лучший ответ, лучший ответ всегда вверху-->
	<div class="container update">
		<div class="col-xs-1 text-center">{{id}}</div>
		<div class="col-xs-3 text-center">{{body}}</div>
	</div>
	{{#if attachments}}
		<div class="container attache">
      <p>Attachments:</p>
        <ul>
          {{#each attachments}}
          	<li id="attach-{{this.id}}">
          		<a href="{{this.file.url}}">{{this.name}}</a>
          		{{#if ../isAuthor}}
          			<a id="delete-attach-{{this.id}}" class="delete-attach-link" data-remote="true" rel="nofollow" data-method="delete" href="/attachments/{{this.id}}">
          				<i class="glyphicon glyphicon-remove">Remove</i></a>
          		{{/if}}
            </li>
          {{/each}}
        </ul>
		</div>
	{{/if}}
</div>
